.skinRimless.popup-overlay {
  cursor: pointer;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}

.skinRimless.popup-container {
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.skinRimless.popup-container .popup-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background: url(../img/popup-loading.gif) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.skinRimless.popup-container .popup-content .popup-content-inner {
  width: 100%;
  height: 100%;
}

.skinRimless.popup-container .popup-content .popup-ajax {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.skinRimless.popup-container .popup-content img {
  opacity: 0;
}

.skinRimless.popup-container .popup-content .fadeIn {
  opacity: 1;
}

.skinRimless.popup-container .popup-controls-prev {
  position: fixed;
  top: 50%;
  left: 10%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: -9999px;
  background: url(../img/buttom-prev-normal.png) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-controls-prev:hover {
  background: url(../img/buttom-prev-hover.png) no-repeat scroll 0 0;
}

.skinRimless.popup-container .popup-controls-next {
  position: fixed;
  top: 50%;
  right: 10%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: -9999px;
  background: url(../img/buttom-next-normal.png) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-controls-next:hover {
  background: url(../img/buttom-next-hover.png) no-repeat scroll 0 0;
}

.skinRimless.popup-container .popup-controls-close {
  position: absolute;
  top: -15px;
  right: -15px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../img/buttom-close-normal.png) no-repeat 0 0;
  opacity: 0.7;
}

.skinRimless.popup-container .popup-controls-close:hover {
  opacity: 1;
}

/*====== thumbnails =======*/

.popup-thumbnails {
  position: fixed;
  bottom: 16px;
  left: 0;
  display: block;
  width: 100%;
  min-width: 650px;
  text-align: center;
}

.popup-thumbnails .popup-thumbnails-prev,
.popup-thumbnails .popup-thumbnails-next {
  display: inline-block;
  width: 17px;
  height: 28px;
  margin-bottom: 20px;
}

.popup-thumbnails .popup-thumbnails-prev {
  background: url(../img/thum-left-normal.png) no-repeat 0 0;
}

.popup-thumbnails .popup-thumbnails-prev:hover {
  background: url(../img/thum-left-hover.png) no-repeat 0 0;
}

.popup-thumbnails .popup-thumbnails-next {
  background: url(../img/thum-right-normal.png) no-repeat 0 0;
}

.popup-thumbnails .popup-thumbnails-next:hover {
  background: url(../img/thum-right-hover.png) no-repeat 0 0;
}

.popup-thumbnails .popup-thumbnails-holder {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 80px;
  margin: 0 40px;
  overflow: hidden;
}

.popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner {
  position: absolute;
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner .popup-thumbnail-active span {
  background-color: transparent;
}

.popup-thumbnails .popup-thumbnails-holder img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.popup-thumbnails .popup-thumbnails-holder a {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.popup-thumbnails .popup-thumbnails-holder a:first-child {
  margin-left: 0;
}

