.skinRimless .popup-infoBar {
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #fff;
}

.skinRimless .popup-infoBar .popup-title {
  float: left;
  font: 14px/20px Verdana, sans-serif;
  color: #fff;
  opacity: 0.8;
}

.skinRimless .popup-infoBar .popup-count {
  position: absolute;
  top: -24px;
  right: 15px;
  padding: 0 5px;
  font: 12px/1.3 Verdana, sans-serif;
  background-color: #000;
  border-radius: 9px;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .skinRimless .popup-infoBar .popup-count {
    position: static;
    float: right;
  }
}

/*====== thumbnails =======*/

.skinRimless .popup-thumbnails {
  position: fixed;
  bottom: 16px;
  left: 0;
  display: block;
  width: 100%;
  min-width: 650px;
  text-align: center;
}

.skinRimless .popup-thumbnails .popup-thumbnails-prev,
.skinRimless .popup-thumbnails .popup-thumbnails-next {
  display: inline-block;
  width: 17px;
  height: 28px;
  margin-bottom: 20px;
}

.skinRimless .popup-thumbnails .popup-thumbnails-prev {
  background: url(../img/thum-left-normal.png) no-repeat 0 0;
}

.skinRimless .popup-thumbnails .popup-thumbnails-prev:hover {
  background: url(../img/thum-left-hover.png) no-repeat 0 0;
}

.skinRimless .popup-thumbnails .popup-thumbnails-next {
  background: url(../img/thum-right-normal.png) no-repeat 0 0;
}

.skinRimless .popup-thumbnails .popup-thumbnails-next:hover {
  background: url(../img/thum-right-hover.png) no-repeat 0 0;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 80px;
  margin: 0 40px;
  overflow: hidden;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder .popup-thumbails-inner .popup-thumbnail-active span {
  background-color: transparent;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder img {
  width: 100%;
  height: 100%;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder a {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.skinRimless .popup-thumbnails .popup-thumbnails-holder a:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .skinRimless .popup-thumbnails {
    display: none;
  }
}

.skinRimless.popup-overlay {
  cursor: pointer;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}

.skinRimless.popup-container {
  position: absolute;
  overflow: visible !important;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.skinRimless.popup-container .popup-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background: url(../img/popup-loading.gif) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-content {
  width: 100%;
  height: 100%;
  background-color: white;
}

.skinRimless.popup-container .popup-content .popup-content-inner {
  width: 100%;
  height: 100%;
}

.skinRimless.popup-container .popup-content .popup-content-inner {
  width: 100%;
  height: 100%;
}

.skinRimless.popup-container .popup-content .popup-ajax {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.skinRimless.popup-container .popup-content img {
  opacity: 0;
  -webkit-box-shadow: inset 0 0px 0px 1px rgba(254, 254, 254, 0.5);
          box-shadow: inset 0 0px 0px 1px rgba(254, 254, 254, 0.5);
}

.skinRimless.popup-container .popup-content .fadeIn {
  opacity: 1;
}

.skinRimless.popup-container .popup-controls-prev {
  position: fixed;
  top: 50%;
  left: 10%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: -9999px;
  background: url(../img/buttom-prev-normal.png) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-controls-prev:hover {
  background: url(../img/buttom-prev-hover.png) no-repeat scroll 0 0;
}

.skinRimless.popup-container .popup-controls-next {
  position: fixed;
  top: 50%;
  right: 10%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: -9999px;
  background: url(../img/buttom-next-normal.png) no-repeat scroll 0 0 transparent;
}

.skinRimless.popup-container .popup-controls-next:hover {
  background: url(../img/buttom-next-hover.png) no-repeat scroll 0 0;
}

.skinRimless.popup-container .popup-controls-close {
  position: absolute;
  top: -15px;
  right: -15px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../img/buttom-close-normal.png) no-repeat 0 0;
  opacity: 0.7;
}

.skinRimless.popup-container .popup-controls-close:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .skinRimless.popup-container .popup-controls-close {
    top: 0;
    right: 0;
  }
}